NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://supun_admin:nyEQaEpcx8vaK2SO@cluster0.oc3fypz.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
